.child_items, .history {
    width: 24px;
    height: 24px;
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    display:block;
    float:left;
    background:transparent url(child_items.png) no-repeat; 
}

.child_items { background:transparent url(child_items.png) no-repeat; }
.history { background:transparent url(clock.png) no-repeat; }

#child_links_container {
    float: right;
    margin-top: -2.4em;
}