.ui-menu-item {
  list-style-type: none;
} 

.ui-fkext-loading{
  background: url('ajax-loader.gif') no-repeat right center;
}

.fkext-link{
  background: url('search.png') no-repeat center;  
  vertical-align: middle;
  width: 16px;
  height: 16px;
  display: inline-block;
}

.fkext-error {
  background-color: #FFBFCF;
}